---
import '@fontsource-variable/onest';
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';
import ButtonTop from '../components/ButtonTop.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>LuDNR - Lucas Francisco López</title>
	</head>
	<body>
		<Header />
		<main class="grow">
			<slot />
		</main>
		<Footer />
		<ButtonTop />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		font-family: 'Onest Variable', sans-serif;
		display: flex;
		flex-direction: column;
	}
	
	body::-webkit-scrollbar {
		width: 0.625rem;
	}

	body::-webkit-scrollbar-thumb {
		background-color: #989898;
		border-radius: .3rem;
	}

	body::-webkit-scrollbar-thumb:hover {
		background-color: #828282;
		border-radius: .3rem;
	}
</style>
