---
import Layout from "../layouts/Layout.astro";
import LayoutSection from "../components/LayoutSection.astro";
import Hero from "../components/Hero.astro";
import FormContact from "../components/FormContact.astro";
---

<Layout title="Contact">
    <div class="py-24 bg-gray-200"> 
        <LayoutSection>
            <FormContact />
        </LayoutSection>
    </div>
</Layout>