---
import Check from "./icons/Check.astro";
const { title } = Astro.props;
---

<li class="flex gap-3 text-neutral-800 items-start">
    <Check />
    <span class="text-sm text-pretty">{title}</span>
</li>