---
const { title, description, Icon } = Astro.props;
---

<div class="flex flex-col gap-4 items-start group bg-white border border-transparent rounded-lg transition-all p-5">
    <div class="mt-1 bg-indigo-900 text-white border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center p-2 w-10 h-10 shrink-0">
        <Icon />
    </div>
    <div>
        <h3 class="font-semibold text-lg">
            <span class="text-violet-900">{title}</span>
        </h3>
        <p class=" mt-2 leading-relaxed">
            <span class="text-violet-900">{description}</span>
        </p>
    </div>
</div>