---
import Attributes from "./Attributes.astro";
import ContactIcon from "./icons/Contact.astro";

const attributes = ['Impacto inmediato', 'Crecimiento sostenible', 'Diseños personalizados', 'Optimización continua', 'Velocidad de entrega', 'Experiencia intuitiva', 'Alta conversión', 'Mayor posicionamiento'];
---

<div class="mt-10 grid place-items-center pb-10 md:pb-0 md:order-2">
    <img src="/desktop.svg" alt="">
</div>

<div class="grid place-items-center md:pr-6">
    <div class="max-w-lg">
        <span class="bg-purple-100 border-purple-200 border text-purple-600 -ml-px rounded-full text-xs font-medium px-3 py-1">
            + 6 años de experiencia
        </span>
        
        <h3 class="text-2xl font-medium mt-4 text-pretty">
            Tu visión, mi compromiso: crear el sitio web que tu empresa necesita.
        </h3>
        <p class="mt-4 text-slate-600 text-pretty">
            Mi enfoque está en entender tu visión y superarla, creando una presencia digital que no solo atraiga, sino que posicione a tu negocio como líder.
        </p>

        <ul class="grid sm:grid-cols-2 mt-6 text-left gap-y-4 gap-x-4">
            {
                attributes.map(attribute => (
                    <Attributes title={attribute} />
                ))
            }
        </ul>

        <section class="flex items-center mt-14 justify-center md:justify-start">
            <a href="/contact" class="text-white bg-yellow-500 hover:bg-yellow-500/80 focus:ring-4 focus:outline-none focus:ring-yellow-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">
                <ContactIcon />
                Contactar ahora
            </a>
        </section>
    </div>
</div>