---
interface Pregunta {
  pregunta: string
  respuesta: string
}

const PREGUNTAS: Pregunta[] = [
  {
    pregunta: "¿Por qué necesito una página web si ya tengo redes sociales?",
    respuesta: "Las redes sociales son excelentes para conectar con tu audiencia, pero tu página web es tu verdadero hogar digital. Es el lugar donde tu marca se establece, donde la gente te encuentra primero y donde puedes generar confianza. Sin una web, tu negocio no tiene una base sólida. Tu marca necesita más que un perfil en redes, necesita autoridad."
  },
  {
    pregunta: "¿Qué pasa si no tengo mucho presupuesto para una página web?",
    respuesta: "Cada negocio tiene su propio presupuesto, independientemente de esto, trabajo para ofrecerte soluciones accesibles que maximicen el impacto de tu inversión. No se trata de cuánto gastes, sino de cómo lo hagas. Un buen diseño web es una inversión que, con el tiempo, se convierte en un activo clave para tu negocio."
  },
  {
    pregunta: "¿Cómo puedo estar seguro de que mi página web atraerá más clientes?",
    respuesta: "Cada diseño que creo está pensado para convertir visitantes en clientes. No solo me enfoco en la estética, sino también en la estructura y experiencia del usuario. Creo sitios que conectan directamente con el público, generan confianza y posicionan tu marca como la opción preferida."
  },
  {
    pregunta: "¿Qué pasa si no tengo tiempo para gestionar mi página web?",
    respuesta: "No te preocupes, yo me encargo de todo. Administraré tanto la página como el hosting, asegurándome de que siempre esté optimizada, actualizada y funcionando perfectamente. Tú solo enfócate en tu negocio, yo me ocupo del resto."
  },
  {
    pregunta: "¿Cómo sé que mi página web se verá bien en todos los dispositivos?",
    respuesta: "Hoy en día, las personas navegan desde muchos dispositivos diferentes. Todos los sitios web que diseño son completamente adaptables a cualquier pantalla, asegurando que se vean perfectos tanto en móviles como en computadoras de escritorio. El diseño responsive es parte de mi enfoque."
  },
  {
    pregunta: "¿Cuánto tiempo tomará ver resultados después de tener mi página web?",
    respuesta: "El tiempo de resultados puede variar, pero lo que te garantizo es que tener una página web optimizada acelerará el proceso. Los clientes te encontrarán más fácilmente, tu marca ganará autoridad y, con la estrategia adecuada, los resultados estarán a la vista en poco tiempo."
  },
  {
    pregunta: "¿Y si no estoy satisfecho con el diseño final?",
    respuesta: "Tu satisfacción es mi prioridad. Trabajo contigo de principio a fin para asegurarme de que tu visión se haga realidad. Si no te convence algo, lo ajusto hasta que te encante. No estoy feliz hasta que tú lo estés."
  }
]
---

<div id="faq-accordion" class="w-full border border-gray-200 rounded-md">
  {
    PREGUNTAS.map((pregunta, index) => (
      <details class="border-b border-gray-200 group">
        <summary class="flex items-center justify-between px-4 py-5 text-left cursor-pointer focus:outline-none group-hover:bg-gray-100">
          <span class="text-slate-900 mr-4 text-wrap">{pregunta.pregunta}</span>
          <svg
            class="w-5 h-5 z-30 text-slate-500 transition-transform transform group-open:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
          </svg>
        </summary>
        <div class="px-4 py-5 text-slate-500 text-wrap">
          {pregunta.respuesta}
        </div>
      </details>
    ))
  }
</div>