---
import Link from "./LinksFooter.astro";
import Logo from "./Logo.astro"

const linkList = [
    { title: 'GitHub', href: 'https://github.com/Lukas988?tab=repositories' },
    { title: 'Linkedin', href: 'https://www.linkedin.com/in/lukas-lopez-731940185/' },
    { title: 'Codespaces', href: 'https://github.com/codespaces' },
    { title: 'Contacto', href: '/contact' }
];
---

<footer class="w-full bg-white shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <Logo class="mb-4 sm:mb-0" />
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                {
                    linkList.map(list => (
                        <Link title={list.title} href={list.href}/>
                    ))
                }
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 text-center dark:text-gray-400 pb-10">© 2024 <a href="https://flowbite.com/" class="hover:underline">LuDnr™</a>. Derechos reservados.</span>
    </div>
</footer>












