<section class="max-w-sm md:max-w-max lg:col-span-2 pr">
    <h1 class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">Create websites with Astroship</h1>
    <p class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">Pro version of popular Astroship starter template made for startups. Built with Astro and Tailwind CSS</p>
</section>
<section class="pt-16 lg:col-span-3">
    <img src="/hero.webp" />
</section>